		</section>
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="http://twitter.com/Team_Recover" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="http://github.com/RecoverTeam" class="icon fa-github"><span class="label">Github</span></a></li>
				</ul>
				<ul class="copyright">
					<li class="copy">&copy; Recover Team. Whole source codes are in <a href="http://github.com/RecoverTeam/">Our GitHub</a>!
				</ul>
			</footer>
	</body>
</html>